#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# License agreement
eula --agreed
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=em1 --gateway=10.10.0.100 --ip=10.10.0.1 --nameserver=10.10.10.1,10.10.10.2 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --device=em2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=em3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=em4 --onboot=off --ipv6=auto
network  --bootproto=dhcp --hostname=nfv-slave01.example.tld
# Reboot after installation
reboot
# Root password (ref: http://www.aychedee.com/2012/03/14/etc_shadow-password-hash-formats/)
# Generate with:  python -c 'import crypt; print crypt.crypt("welcome", "$6$1234567890abcdef")'
rootpw --iscrypted $6$1234567890abcdef$u5RrxFFTBE1Oqq1XNNic62aTu4P6i35dA3PPmbcGD6eYqK7K5w8XtOb6yV2cBTWexG/r2XoVqLWBli8fPVvYf/
# System services
services --enabled="NetworkManager,sshd,chronyd"
# System timezone
timezone America/New_York --isUtc --ntpservers=clock.corp.redhat.com
user --groups=wheel --name=ansible --password=$6$1234567890abcdef$u5RrxFFTBE1Oqq1XNNic62aTu4P6i35dA3PPmbcGD6eYqK7K5w8XtOb6yV2cBTWexG/r2XoVqLWBli8fPVvYf/ --iscrypted --gecos="Ansible"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --drives=sda

%packages
@^minimal
@core
chrony
kexec-tools
kexec-tools
openscap
openscap-scanner
scap-security-guide

%end

%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = default
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
