server {
    listen                  *:80;

    server_name             {{ jenkins_master_server_name }};
    access_log              {{ jenkins_master_nginx_access_log }};

    location / {
        proxy_pass          http://localhost:8080;
        proxy_http_version  1.1;
        proxy_set_header    Upgrade $http_upgrade;
        proxy_set_header    Connection 'upgrade';
        proxy_set_header    Host $host;
        proxy_cache_bypass  $http_upgrade;
    }

    location /images {
        root {{ jenkins_home }};
        autoindex on;
    }
}
